/*产品*/
section.product_padding{
    padding:160px 0 100px;
}
.pt-60{
    padding-top:60px;
}
section.product_padding div.pt-60>div>a{
    display:inline-block;
    line-height: 42px;
    border-radius: 4px;
    background-image:linear-gradient(45deg, #4929b0, #0acffe);
    color:#fff;
    min-width: 248px;
}
section.product_padding div.pt-60>div>a:hover{
    background:#f5a623;
    text-decoration: none;
}
@media (max-width:991px) {
    section.product_padding>div>div{
        text-align:center;
    }
}
/*逻辑结构图*/
section.logic_padding{
    background: #F4F7FB;
    padding: 60px 0 100px;
}
section.logic_padding>div>p.w-94{
    width:94%;
    margin:40px auto 0;
}
/*ov100*/
section.bg-dk{
    padding:120px 0;
    background:#171C2B;
    color:#fff;
}
.text-red{
    color:#d0021b;
}
.arial-black{
    font-family:arial black;
}
@media (min-width: 992px) {
    section.bg-dk>div>div>div>div>div>div {
        padding: 260px 0 0 30px;
        text-align:left;
    }
}
.w-82{
    width:82px;
}
.bg-dk>div>div :last-child>table td{
    font-size:14px;
}
/*ov200*/
section.pd-120{
    padding:120px 0;
}
.pd-120>div>div :last-child>table td{
    font-size:14px;
}
/*ov300*/
section.bg-gray{
    padding:120px 0;
    background:#f5f5f5;
}
.bg-gray>div>div:last-child>table td{
    font-size:14px;
}
